.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 0;

}

.nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav a{
    color: #FFFFFF !important;
    text-decoration: none;
    cursor: pointer;
}

.sections{
    padding-left: 30%;
    
}

.sections li{
    padding-right: 5em;
}

.icons li{
    padding-right: 1em;
}